includeConfig 'modules/fastq-preprocess/nextflow.config'

manifest {
    name            = 'wgs-cna'
    description     = 'WGS / lp-WGS copy-number alteration pipeline (HMMcopy + ichorCNA)'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04'
    recurseSubmodules = true
}

params {
    // Pipeline toggles
    run_lp_wgs = false

    // Default standard WGS CNA parameters
    cna_window_size       = 500000
    cna_min_mapq          = 20
    gc_wig                = null
    map_wig               = null
    pon_rds               = null
    centromere_txt        = null

    // Default standard WGS ichorCNA tuning parameters
    ichorcna_ploidy       = "c(2)"
    ichorcna_normal       = "c(0.5)"
    ichorcna_max_cn       = 5
    ichorcna_txn_e        = 0.99
    ichorcna_txn_strength = 10000

    // Auto-download resource maps (from official ichorCNA repository)
    ichorcna_resources {
        'hg19' {
            centromere = "https://raw.githubusercontent.com/broadinstitute/ichorCNA/master/inst/extdata/GRCh37.p13_centromere_UCSC-gapTable.txt"
            '500000' {
                gc_wig  = "https://raw.githubusercontent.com/broadinstitute/ichorCNA/master/inst/extdata/gc_hg19_500kb.wig"
                map_wig = "https://raw.githubusercontent.com/broadinstitute/ichorCNA/master/inst/extdata/map_hg19_500kb.wig"
                pon_rds = "https://raw.githubusercontent.com/broadinstitute/ichorCNA/master/inst/extdata/HD_ULP_PoN_500kb_median_normAutosome_median.rds"
            }
            '1000000' {
                gc_wig  = "https://raw.githubusercontent.com/broadinstitute/ichorCNA/master/inst/extdata/gc_hg19_1000kb.wig"
                map_wig = "https://raw.githubusercontent.com/broadinstitute/ichorCNA/master/inst/extdata/map_hg19_1000kb.wig"
                pon_rds = "https://raw.githubusercontent.com/broadinstitute/ichorCNA/master/inst/extdata/HD_ULP_PoN_1Mb_median_normAutosome_median.rds"
            }
        }
        'hg38' {
            centromere = "https://raw.githubusercontent.com/broadinstitute/ichorCNA/master/inst/extdata/GRCh38.GCA_000001405.2_centromere_acen.txt"
            '500000' {
                gc_wig  = "https://raw.githubusercontent.com/broadinstitute/ichorCNA/master/inst/extdata/gc_hg38_500kb.wig"
                map_wig = "https://raw.githubusercontent.com/broadinstitute/ichorCNA/master/inst/extdata/map_hg38_500kb.wig"
                pon_rds = "https://raw.githubusercontent.com/broadinstitute/ichorCNA/master/inst/extdata/HD_ULP_PoN_hg38_500kb_median_normAutosome_median.rds"
            }
            '1000000' {
                gc_wig  = "https://raw.githubusercontent.com/broadinstitute/ichorCNA/master/inst/extdata/gc_hg38_1000kb.wig"
                map_wig = "https://raw.githubusercontent.com/broadinstitute/ichorCNA/master/inst/extdata/map_hg38_1000kb.wig"
                pon_rds = "https://raw.githubusercontent.com/broadinstitute/ichorCNA/master/inst/extdata/HD_ULP_PoN_hg38_1Mb_median_normAutosome_median.rds"
            }
        }
    }
}

process {
    withName: 'HMMCOPY_READCOUNTER' {
        container = 'quay.io/biocontainers/hmmcopy:0.1.1--h5b0a936_12'
        cpus = 1
    }
    withName: 'ICHORCNA' {
        container = 'quay.io/biocontainers/r-ichorcna:0.5.1--r44hdfd78af_1'
        cpus = 2
    }
}